@import url('~/platform.css');

Page {
	background-color: white;
	font-size: 17;
}
TextField {
	margin: 2;
	padding: 2;
}
Image {
	margin-left: 0;
	margin-right: 0;
}
Button {
	margin: 10;
	padding: 10;
}